@import "src/styles/constants";

.note-form-panel {
  display: inline-flex;
  justify-content: space-around;
  font-size: 15px;
  padding: 2em 2em 0 2em;
  margin: auto 0 0 0;

  &__button {
    cursor: pointer;
    font-size: 15px;
    margin: auto 1em auto 0;
    padding: 0.4em;
    border-bottom: 2px solid $dark-grey;

    &:hover {
      background-color: $light-yellow;
    }
  }
}
