@import "src/styles/constants";

.note-search {
  display: flex;
  justify-content: center;
  height: 10vh;

  &__input {
    width: 80%;
    margin: auto;
    padding: 0.7em;
    border: none;
    background-color: $grey;
    color: $light-grey;
    font-size: 18px;
    text-align: center;
    border-radius: 0.2em;
  }
}
