@import "./src/components/NotesList/NotesList";

.notes-list {
  &__item {

    h4 {
      color: #ababab;
    }

    span {
      display: flex;
      background: rgba(217, 217, 217, 0.3);
    }

    &:hover {
      h4 {
        color: $dark-grey;
      }

      span {
        background: rgba(38, 38, 38, 0.2);
      }
    }
  }
}
