@import "src/styles/constants";

.notes {
  &-list {
    display: flex;
    flex-direction: column;
    height: 80vh;
    overflow-y: scroll;
    width: 100%;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      width: 0;
    }

    &__title {
      display: inline-flex;
      position: relative;
      padding: 0.8em 0.8em 0.5em;

      h3 {
        font-weight: bold;
        font-size: 15px;
        color: $grey;
      }

      span {
        display: block;
        position: absolute;
        top: 58%;
        right: 0;
        height: 2px;
        width: 16vw;
        background: $grey;
      }
    }

    &__item {
      padding: 0.8em;
      display: grid;
      grid-template-columns: 0.9fr 0.1fr;
      color: white;
      cursor: pointer;

      h4 {
        display: flex;
        margin: auto 0;
        line-height: 30px;
        font-weight: normal;
      }

      span {
        display: none;
        cursor: pointer;
        height: 20px;
        width: 20px;
        padding: 0.2em;
        margin: auto;
        border-radius: 0.2em;
        background: rgba(38, 38, 38, 0.2);

        img {
          height: 70%;
          margin: auto;
        }
      }

      &:hover {
        color: $dark-grey;
        background: $light-yellow;

        span {
          display: flex;
        }
      }
    }
  }
}

.trash {
  span {
    width: 12vw;
  }
}
