@import "src/styles/constants";

.focused {
  //border-bottom: 2px solid $grey;
  background-color: $light-grey;
}

.note-form {
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  width: 100%;
  overflow: hidden;
  height: 90vh;

  &__title {
    padding: 0.5em;
    margin: auto 0;

    &::before {
      content: '#';
      padding-right: 1em;
    }

    &:focus {
      @extend .focused
    }
  }

  &__content {
    margin-top: 1.5em;
    padding: 0.5em 1.5em;
    position: relative;
    font-size: 15px;
    height: 90%;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    border: none;

    &::-webkit-scrollbar {
      width: 0;
    }
    &:focus, div:focus {
      @extend .focused
    }

    & div {
      word-wrap: break-word;
    }

    counter-reset: section;

    div::before {
      display: block;
      position: absolute;
      right: 0.5em;
      color: lighten($grey, 30%);
      counter-increment: section;
      content: counter(section);
    }
  }
}


